<mat-horizontal-stepper [linear]="isLinear">

    <!-- Transferência -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" fxLayout="row" class="container">
            <ng-template matStepLabel>Transferência</ng-template>
            <mat-input-container>
                <mat-label>Agência de destino</mat-label>
                <input 
                matInput 
                placeholder="ex: 0001"
                type="text"
                formControlName="ag">
            </mat-input-container>
            <mat-input-container>
                <mat-label>Conta de destino</mat-label>
                <input 
                matInput 
                placeholder="ex: 000001" 
                type="text" 
                formControlName="account_number">
            </mat-input-container>
            <mat-input-container>
                <mat-label>Valor a ser transferido</mat-label>
                <input 
                matInput 
                placeholder="ex: R$100,00" 
                type="text" 
                formControlName="value">
                <span matPrefix>R$&nbsp;</span>
            </mat-input-container>

            <div>
                <button class="btn-orange" mat-raised-button color="primary" matStepperNext [disabled]='!(firstFormGroup.valid)' (click)="save()">confirmar</button>
            </div>
        </form>
    </mat-step>
    <!-- Fim Transferência -->

    <!-- Confirmação -->
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" class="container">
            <ng-template matStepLabel>Confirmação</ng-template>
            <!-- <mat-input-container>
                <mat-label>Agência de destino</mat-label>
                <input 
                matInput 
                type="text"
                value="{{this.data.ag}}"
                [disabled]='true'>
            </mat-input-container>
            <mat-input-container>
                <mat-label>Conta de destino</mat-label>
                <input 
                matInput 
                type="text"
                value="{{this.data.account_number}}"
                [disabled]='true'>
            </mat-input-container>
            <mat-input-container>
                <mat-label>Valor a ser transferido</mat-label>
                <input 
                matInput 
                type="text" 
                value="{{this.data.value}}"
                [disabled]='true'>
            </mat-input-container> -->
            <div fxLayout=row fxLayoutAlign="center center">
                <mat-spinner *ngIf=loading fxFlexAlign=center></mat-spinner>
                <div fxLayout=column *ngIf=transaction fxFlex=95 fxLayoutGap=2.5 fxFlex.gt-sm=400px fxLayoutGap.gt-sm=0>
                  <div fxFlex=25px></div>
                  <div fxLayout=column fxFlex=50px fxLayoutAlign="center center">
                    <h1>Transferência</h1>
                  </div>
                  <div fxFlex=25px></div>
                  <div fxLayout=row fxFlex=50px>
                    <span>De</span>
                    <span fxFlex></span>
                    <span>{{transaction.from.client.name}}</span>
                  </div>
                  <div fxLayout=row fxFlex=50px>
                    <span>Para</span>
                    <span fxFlex></span>
                    <span>{{transaction.to.client.name}}</span>
                  </div>
                  <div fxLayout=row fxFlex=50px>
                    <span>Valor</span>
                    <span fxFlex></span>
                    <span [ngClass]="{'credito':transaction.isCredit, 'debito': !transaction.isCredit}">R$ {{transaction.value | number : '3.0-0'}}</span>
                  </div>
                  <div fxLayout=row fxFlex=50px>
                    <span>Data de execução</span>
                    <span fxFlex></span>
                    <span>{{transaction.date | date : 'dd/MM/yyyy hh:mm'}}</span>
                  </div>
                  <hr />
                  <div fxLayout=column fxLayoutAlign="center center">
                    <span>Código da transação</span>
                    <span fxFlex=25px></span>
                    <span>{{transaction._id}}</span>
                  </div>
                </div>
              </div>
            <mat-input-container>
                <mat-label>Senha</mat-label>
                <input 
                matInput 
                placeholder="Digite sua senha" 
                type="password" 
                formControlName="password">
            </mat-input-container>
            <div>
                <button class="btn-orange" mat-raised-button color="primary" mat-button matStepperPrevious>retornar</button>
                <a class="btn-orange" mat-raised-button color="primary" mat-button routerLink="/transferencias/:id" (click)="createTransaction()" [disabled]='!(secondFormGroup.valid)'>confirmar</a>
            </div>
        </form>
        
    </mat-step>
    <!-- End Confirmação -->

</mat-horizontal-stepper>
