<mat-horizontal-stepper [linear]="isLinear">

    <!-- Transferência -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" fxLayout="row" class="container">
            <ng-template matStepLabel>Transferência</ng-template>
            <mat-input-container>
                <mat-label>Agência de destino</mat-label>
                <input 
                matInput 
                placeholder="ex: 0001"
                type="text"
                formControlName="ag">
            </mat-input-container>
            <mat-input-container>
                <mat-label>Conta de destino</mat-label>
                <input 
                matInput 
                placeholder="ex: 000001" 
                type="text" 
                formControlName="account_number">
            </mat-input-container>
            <mat-input-container>
                <mat-label>Valor a ser transferido</mat-label>
                <input 
                matInput 
                placeholder="ex: R$100,00" 
                type="text" 
                formControlName="value">
                <span matPrefix>R$&nbsp;</span>
            </mat-input-container>

            <div>
                <button class="btn-orange" mat-raised-button color="primary" matStepperNext [disabled]='!(firstFormGroup.valid)' (click)="save()">confirmar</button>
            </div>
        </form>
    </mat-step>
    <!-- Fim Transferência -->

    <!-- Confirmação -->
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" class="container">
            <ng-template matStepLabel>Confirmação</ng-template>
            <!-- <mat-input-container>
                <mat-label>Agência de destino</mat-label>
                <input 
                matInput 
                type="text"
                value="{{this.data.ag}}"
                [disabled]='true'>
            </mat-input-container>
            <mat-input-container>
                <mat-label>Conta de destino</mat-label>
                <input 
                matInput 
                type="text"
                value="{{this.data.account_number}}"
                [disabled]='true'>
            </mat-input-container>
            <mat-input-container>
                <mat-label>Valor a ser transferido</mat-label>
                <input 
                matInput 
                type="text" 
                value="{{this.data.value}}"
                [disabled]='true'>
            </mat-input-container> -->
            <mat-input-container>
                <mat-label>Senha</mat-label>
                <input 
                matInput 
                placeholder="Digite sua senha" 
                type="password" 
                formControlName="password">
            </mat-input-container>
            <div>
                <button class="btn-orange" mat-raised-button color="primary" mat-button matStepperPrevious>retornar</button>
                <a class="btn-orange" mat-raised-button color="primary" mat-button routerLink="/transferencias/:id" (click)="createTransaction()" [disabled]='!(secondFormGroup.valid)'>confirmar</a>
            </div>
        </form>
        
    </mat-step>
    <!-- End Confirmação -->

</mat-horizontal-stepper>
