<div fxLayout=column>
  <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap=1em fxFlex=150px>
    <div fxLayout=row fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-sm>
        <h2 *ngIf="!(authService.account | async)" class=debito>-</h2>
        <h2 *ngIf="(authService.account | async)" class=debito>R$ {{(authService.account | async).debit | number : '1.2-2'}}</h2>
        <small>débito (últimos 30 dias)</small>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1 *ngIf="!(authService.account | async)">-</h1>
        <h1 *ngIf="(authService.account | async)">R$ {{(authService.account | async).balance | number : '1.2-2'}}</h1>
        <small>saldo atual</small>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-sm>
        <h2 *ngIf="!(authService.account | async)" class=credito>-</h2>
        <h2 *ngIf="(authService.account | async)" class=credito>R$ {{(authService.account | async).credit | number : '1.2-2'}}</h2>
        <small>crédito (últimos 30 dias)</small>
      </div>
    </div>
  </div>
  <mat-spinner *ngIf=loading fxFlexAlign=center></mat-spinner>
  <transactions-list [transactions]=lastTransactions subheader="Ultimas 10 transações" [fxHide]=loading></transactions-list>
</div>