<div fxLayout=row fxLayoutAlign="center center">
  <mat-spinner *ngIf=loading fxFlexAlign=center></mat-spinner>
  <mat-card fxLayout=column *ngIf=transaction fxFlex=95 fxLayoutGap=2.5 fxFlex.gt-sm=400px fxLayoutGap.gt-sm=0>
    <div fxFlex=25px></div>
    <div fxLayout=column fxFlex=50px fxLayoutAlign="center center">
      <h1>Transferência</h1>
    </div>
    <div fxFlex=25px></div>
    <div fxLayout=row fxFlex=50px>
      <span>De</span>
      <span fxFlex></span>
      <span fxLayout=column fxLayoutAlign="start end">
        <span>{{transaction.from.client.name}}</span>
        <span fxFlex=10px></span>
        <small>
          ag: {{transaction.from.ag | number : '3.0-0'}} c/c: {{(transaction.from.account_number | number : '3.0-0')}}
        </small>
      </span>
    </div>
    <div fxLayout=row fxFlex=50px>
      <span>Para</span>
      <span fxFlex></span>
      <span fxLayout=column fxLayoutAlign="start end">
        <span>{{transaction.to.client.name}}</span>
        <span fxFlex=10px></span>
        <small>
          ag: {{transaction.to.ag | number : '3.0-0'}} c/c: {{(transaction.to.account_number | number : '3.0-0')}}
        </small>
      </span>
    </div>
    <!-- <div fxLayout=row>
        <span>Saldo Anterior</span>
        <span fxFlex></span>
        <span>{{transaction.from.client.name}}</span>
      </div> -->
    <div fxLayout=row fxFlex=50px>
      <span>Valor</span>
      <span fxFlex></span>
      <span [ngClass]="{'credito':transaction.isCredit, 'debito': !transaction.isCredit}">R$ {{transaction.value | number: "1.2-2"}}</span>
    </div>
    <!-- <div fxLayout=row>
        <span>Saldo após</span>
        <span fxFlex></span>
        <span>{{transaction.from.client.name}}</span>
      </div> -->
    <div fxLayout=row fxFlex=50px>
      <span>Data de execução</span>
      <span fxFlex></span>
      <span>{{transaction.date | date : 'dd/MM/yyyy hh:mm'}}</span>
    </div>
    <hr />
    <div fxLayout=column fxLayoutAlign="center center">
      <span>Código da transação</span>
      <span fxFlex=25px></span>
      <span>{{transaction._id}}</span>
    </div>
  </mat-card>
</div>
