<div >       
  <a routerLink='/dashboard' class="fundo"> <i class="medium material-icons">close</i></a>
  <label class="tranf">Transferência </label>
</div>  


<br>

<div class="row espaco">
  <div class="input-field col s6">
      <label>de:</label>
  </div>   
  <div class="input-field col s6">
    <label>Marcos Rodrigues</label>
  </div>   
</div>

<br>

<div class="row espaco">
  <div class="input-field  col s6">
      <label>para:</label>
  </div>   
  <div class="input-field  col s6">
    <label>Avanade</label>
  </div>   
</div>

<br>

<div class="row espaco">
  <div class="input-field  col s6">
      <label>saldo atual:</label>
  </div>   
  <div class="input-field  col s6">
    <label class="saldoGreen">R$ 1.000,00</label>
  </div>   
</div>

<br>

<div class="row espaco">
  <div class="input-field  col s6">
      <label>débito:</label>
  </div>   
  <div class="input-field  col s6">
    <label  class="saldoRed">- R$ 50,00</label>
  </div>   
</div>

<br>

<div class="row espaco">
  <div class="input-field  col s6">
      <label>saldo após:</label>
  </div>   
  <div class="input-field  col s6">
    <label class="saldoGreen">R$ 950,00</label>
  </div>   
</div>

<br>

<div class="row espaco">
  <div class="input-field  col s6">
      <label>data de execução:</label>
  </div>   
  <div class="input-field  col s6">
    <label>21/01/2018 21:38</label>
  </div>   
</div>

<br>
<br>
<hr>

  <div class="codigoAutent">       
          <label>Código de autenticação</label>
           <br>
          <label>AKPKGF33535</label>
  </div>  
