.mat-drawer.nav  {
    background-color: #ff5800!important;
}
.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
    color: rgba(255, 255, 255, 0.87)!important;
}
.nav mat-toolbar {
    background-color: #ff5800;
}
.filternav{
    padding: 1em;
}
.selected{
    background: rgba(0, 0, 0, 0.1) !important;
}