<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav [mode]=sideMenuMode [(opened)]="sideMenuOpen &&  navBarService.isVisible" class=mat-elevation-z2>
    <mat-toolbar>
      <img src='/assets/a3.png' class=a3 />
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)='fechar()' routerLinkActive #rla0=routerLinkActive [ngClass]='{ "selected": rla0.isActive }' [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListIcon>account_balance</mat-icon>
        <span matLine>Minha conta</span>
      </a>
      <a mat-list-item routerLink="/transferencias/nova" (click)='fechar()' routerLinkActive #rla1=routerLinkActive [ngClass]='{ "selected": rla1.isActive }' [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListIcon>swap_horiz</mat-icon>
        <span matLine>Nova transferência</span>
      </a>
      <a mat-list-item routerLink="/extrato" (click)='fechar()' routerLinkActive #rla2=routerLinkActive [ngClass]='{ "selected": rla2.isActive }' [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListIcon>history</mat-icon>
        <span matLine>Extrato</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color=primary ngClass.gt-sm='toobar-transparent' fxLayout=row fxLayoutAlign="start center" [fxHide]=navBarService.isHidden>
    <div fxFlex fxHide fxShow.gt-sm></div>
    <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
    <img src='/assets/ava-gama-banking-logo-branco.png' fxFlex=100px fxHide.gt-sm />
    <img src='/assets/ava-gama-banking-laranja.png' fxFlex=150px fxHide fxShow.gt-sm />
    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
      <mat-menu #accountsMenu="matMenu" yPosition="below">
        <button mat-menu-item *ngFor='let account of authService.accounts | async' (click)=authService.account.next(account)>
          ag: {{account.ag | number : '3.0-0'}} c/c: {{account.account_number | number : '3.0-0'}}
        </button>
      </mat-menu>
      <div fxLayout=column class=profile>
        <small>{{(client | async)?.name}}</small>
        <small>
          ag: {{((account | async)?.ag) | number : '3.0-0'}} c/c: {{((account | async)?.account_number) | number : '3.0-0'}}
        </small>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="accountsMenu">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <a mat-icon-button routerLink='/logout'>
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </div>
  </mat-toolbar>
  <ng-content></ng-content>
</mat-sidenav-container>