
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar src="{{image}}" class="example-header-image">
        <mat-card-title>
          <b>Transferência</b>
        </mat-card-title>
        <mat-card-subtitle>{{transaction.date | date:'dd/MM/yyyy'}}</mat-card-subtitle>
      </mat-card-header>
        <mat-card-content >
              <p fxLayoutAlign="end"><strong>{{transaction.isCredit ? transaction?.from?.client?.name : transaction?.to?.client?.name}}</strong></p>
              <p fxLayoutAlign="end" [ngClass]="{'credito':transaction.isCredit, 'debito': !transaction.isCredit}">R$ {{transaction.value | number : '1.2-2'}}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button >Detalhes</button>
        </mat-card-actions>
      </mat-card>

