h4{
    float:right;
    text-align: center;
}
label{
    color: #000000;
    font-size: 15px;
}

.input-senha{
    margin-top: 0;
}

.btn-senha{
    margin-top: 5px;
    width: 100%;
    text-align: center
}

.btn-confirmar{
    /* color: #FFF; */
}

button{
    color: #000000;
}

/* .box{
     -webkit-box-shadow: 6px 6px 10px #999; 
	   -moz-box-shadow: 6px 6px 10px #999;
	        box-shadow: 6px 6px 10px #999;	 
} */
