h4{
    float:right;
    text-align: center;
}
p{
    font-size: 15px;
    margin-top: 15px;
    
}

.input-senha{
    margin-top: 0;
}

.btn-senha{
    margin-top: 5px;
    width: 100%;
    text-align: center
}

.btn-confirmar{
    color: #FFF;
    margin-top: 30px;
}

a{
    color: #000000;
}

.box{
    -webkit-box-shadow: 6px 6px 10px #999; 
	   -moz-box-shadow: 6px 6px 10px #999;
	        box-shadow: 6px 6px 10px #999;	
}
