<div class="row">
  <div class="col s12">
    <a href="#"><i class="medium material-icons">arrow_back</i></a><h4>Confirmação</h4>
    <br><br>
    
    <div class="col s4">
        <p>de:</p>
        
        <p>para:</p>
        
        <p>saldo atual:</p>
        
        <p>débitos:</p>
        
        <p>saldo após:</p>
        
    </div>

    <div class="col s8">
        <p>Fulano de tal............</p>
        <p>Fulano de tal 2............</p>
        
        <p style=color:green>R$1.000,00</p>
        <p style="color:red">-R$50,00</p>
        <p>R$950,00</p>
    </div>
    
    <div class="input-field nput-senha col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Senha</label>
    </div>

    <div class="col s4 container">
      <a class="waves-effect waves-light btn btn-senha" style= background:rgb(221,217,217)>1 ou 2</a>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn btn-senha"style= background:rgb(221,217,217)>3 ou 4</a>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn btn-senha" style= background:rgb(221,217,217)>9 ou 0</a>
    </div>

    <div class="col s4">
      <a class="waves-effect waves-light btn btn-senha" style= background:rgb(221,217,217)>5 ou 6</a>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn btn-senha" style= background:rgb(221,217,217)>7 ou 8</a>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn btn-senha" style= background:rgb(221,217,217)>x</a>
    </div>

    <div class="col s12">
      <a class="waves-effect waves-light btn btn-senha btn-confirmar" style= background:orangered >Confirmar</a>
    </div>

  </div>
  
  
</div>
