.filtro{
    float: right;
    
}

.pointer {
    cursor: pointer;
}


label{
    font-size: 3em;
    margin-left: 100px;
}

mat-card{
    text-align: center;
    background-color: #CECECE;
    width: 150px;
    margin: 0 auto;
}

.mat-button{
    color: white;
}

