
 

<!-- class="col s12 m6" -->
    <div *ngFor="let transaction of transactions"  fxFlex.xs="100"  fxFlex.gt-xs="25">
            <app-transaction-card [transaction]="transaction"></app-transaction-card>
    </div> 


<!-- <mat-grid-list cols="12">
        <div class="input-field col s12 m12">
            <a class="btn modal-trigger" (click)="openModal()">
                <i class="material-icons filtro">filter_list</i>
            </a>
            <!<a class="btn modal-trigger" (click)="openModal()">Modal</a> -->
            <!-- <input placeholder="Pesquisar" id="" type="text" class="validate">

            <div routerLink='/transferencia/novo' class="card hoverable pointer  grey lighten-5">
                <div class="card-content black-text">
                    <a>
                        <i class="material-icons">add</i>
                    </a>


                <span class="card-title center-align">Nova Transferência</span>
            </div>
        </div>

    </mat-grid-list>
    --> 




<!--
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">

        <app-search></app-search>

        </div>
        <div class="modal-footer">
          <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Fechar</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Aceitar</a>
        </div>
      </div>  -->
