.filtro{
    float: right;
    
}

.pointer {
    cursor: pointer;
}


label{
    font-size: 3em;
    margin-left: 100px;
}

mat-card{
    text-align: center;
    background-color: #CECECE;
    width: 150px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}

.btn {
    display: flex;
    align-items: center;
  }

  .box{
     -webkit-box-shadow: 6px 6px 10px #999; 
	   -moz-box-shadow: 6px 6px 10px #999;
	        box-shadow: 6px 6px 10px #999;	 
}