  <!--header-->
    <div class="nav-transaction">       
        <a href="#" class=" fundo"> <i class="medium  material-icons icone">clear</i>nova transferência</a>
    </div>  


  <!--main-->
  <main >    
      <form class="col s12 formulario">
        <div class="row">
            <div class="input-field col s12 digitos">
                <input  [textMask] =" {mask: maskAgencia} "[(ngModel)] =" agencia" name="agencia" placeholder="agencia de destino " id="agencia-destino" type="text"  class="validate" >
                <input [textMask] =" {mask: maskConta} "[(ngModel)] =" conta" name="conta"  placeholder="conta destino " id="conta-destino" type="text" class="validate" required>
                <input placeholder="R$ valor a ser transferido " id="agencia-destino" type="number" class="validate">
            </div>
        </div>

            <div class="row espaco">
                <div class="input-field col s12">          
                    <label>de:</label>
                </div>    
            </div>
            <br>
            <br>
            
            <div class="row espaco">
                <div class="input-field col s12 ">   
                    <label>para:</label>
                </div>  
            </div>
            <br>
            <br>

            <div class="row espaco">
                <div class="input-field  col s12">
                    <label>saldo atual:</label>
                </div>    
            </div>
            <br>
            <br>
            <footer>          
                <button class="waves-effect waves-light btn botao-continuar" id="btn-continuar" >continuar</button>
            </footer>
      
    </form>
  </main>
 