  <nav class="nav-transaction">
    <div >
        <i class="lg material-icons icone">clear</i>
        <a href="#" class=" fundo">nova transferência</a>
    </div>  
  </nav>

  <!---->
  <form class="col s12">
     <div class="row">
        <div class="input-field col s12 digitos">
            <input placeholder="agencia de destino " id="agencia-destino" type="number"  class="validate">
            <input placeholder="conta destino " id="conta-destino" type="number" class="validate">
            <input placeholder="R$ valor a ser transferido " id="agencia-destino" type="number" class="validate">
        </div>
    </div>

        <div class="row">
            <div class="input-field ">          
                <label>de:</label>
            </div>    
        </div>
        
        <div class="row">
            <div class="input-field ">   
                <label>para:</label>
            </div>  
        </div>
        
        <div class="row">
            <div class="input-field ">
                <label>saldo atual:</label>
            </div>    
        </div>
        <br>
        <br>
        
            <button class="waves-effect waves-light btn botao-continuar" >continuar</button>
        
    
</form>

