  <!--header-->
    <div class="nav-transaction">       
        <a routerLink='/dashboard' class="fundo"> <i class="medium material-icons icone">close</i></a>
        <label class="tranf">Nova Transferência </label>
    </div>  

  <!--main-->
  <main>    
      <form class="col s12 formulario">
        <div class="row">
            <div class="input-field col s12 digitos">
                <input placeholder="agencia de destino " id="agencia-destino" type="number"  class="validate">
                <input placeholder="conta destino " id="conta-destino" type="number" class="validate">
                <input placeholder="R$ valor a ser transferido " id="agencia-destino" type="number" class="validate">
            </div>
        </div>

            <div class="row espaco">
                <div class="input-field col s12">          
                    <label>de:</label>
                </div>    
            </div>
            <br>
            <br>
            
            <div class="row espaco">
                <div class="input-field col s12 ">   
                    <label>para:</label>
                </div>  
            </div>
            <br>
            <br>

            <div class="row espaco">
                <div class="input-field  col s12">
                    <label>saldo atual:</label>
                </div>    
            </div>
            <br>
            <br>
            <footer>          
                <button routerLink='confirmacao' class="waves-effect waves-light btn botao-continuar" id="btn-continuar" >continuar</button>
            </footer>
      
    </form>
  </main>
 