
.clear {

  background-color: #ff5800;
  margin-top: 2em;
}

.btnNumber {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0f0f0f;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 10%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.10, #ffffff),
		to(#d6d6d6));
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 0px solid #7d7d7d;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 16px rgba(219,219,219,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 16px rgba(219,219,219,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 16px rgba(219,219,219,1);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 1px rgba(255,255,255,0);
}
