h3{
    text-align: center;
}

p{
    text-align: center;
}

.saldo{
    margin-top: 70px;
}

.filtro{
    float: right;
    
}

.pointer {
    cursor: pointer;
}



label{
    font-size: 3em;
    margin-left: 100px;
}