<div class="row">
        
    <div class="col s12 m6 saldo">
        <h3>R$1.000,00</h3>
        <p>Saldo Atual</p>
        <br>
        <h3 class="texto-verde">R$1.000,00</h3>
        <p>Créditos (Últimos 30 dias)</p>
        <br>
        <h3 class="texto-vermelho">R$1.000,00</h3>
        <p>Débitos (Últimos 30 dias)</p>
    </div>

    <div class="col s12 m6">
        <div class="input-field pointer col s12 m12">
            <a href="#"><i class="material-icons filtro">filter_list</i></a>
            <input placeholder="Pesquisar" id="" type="text" class="validate">

            <div class="card hoverable  grey lighten-5">
                <div class="card-content black-text">
                <a href="#"><i class="material-icons">add</i></a>
                <span class="card-title center-align">Nova Tranferência</span>
                </div>
            </div>
            
        </div>
        <div *ngFor="let transaction of transactions" class="col s12 m6">
            <app-transaction-card [transaction]="transaction"></app-transaction-card>
        </div>
    </div>

</div>
