<img src='/assets/a3.png' width="50px" class=a3 />
<div fxFlex=100 fxLayout=row fxLayoutAlign='center center' fxLayoutAlign.gt-sm='end stretch' style="background: #fff">
  <div fxFlex fxHide fxShow.gt-sm class=bg>
    <div class=filter></div>
  </div>
  <div fxFlex=7.5 fxHide fxShow.gt-sm></div>
  <form fxFlex=100 fxFlex.gt-sm=400px fxLayout=column fxLayoutAlign='center stretch' fxFlexAlign=center >
    <mat-card class=mat-elevation-z0 fxFlex=100 fxLayout=column>
      <mat-card-header fxLayout="row" fxLayoutAlign="center center" >
        <mat-card-title>
          <img src='/assets/ava-gama-banking-laranja.png' />
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex=100 fxLayout=column fxLayoutAlign='start stretch'>
        <mat-input-container fxflex>
          <input matInput placeholder=cpf [textMask]="{mask: maskCpf}">
        </mat-input-container>
        <mat-input-container fxflex>
          <input matInput placeholder=senha type=password maxlength="6" required>
        </mat-input-container>
        <!-- <recaptcha class=margin-left-16 (resolved)="isHuman = true" siteKey="6LfDbDUUAAAAACGrd8UvRB1qUIxm7HP4zxVE2_O3"></recaptcha> -->
      </mat-card-content>
      <h3 fxFlex=100 *ngIf=error class=error color=warn>{{error}}</h3>
      <mat-card-actions fxFlexFill align=end>
        <button mat-raised-button color=primary mat-button (click)=login() fxFlex style="height: 45px;">entrar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <div fxFlex=7.5 fxHide fxShow.gt-sm></div>
</div>
