<nav>
  <div class="nav-wrapper">
    <a routerLink='dashboard' class="brand-logo valign-wrapper">
      <img src="../../../assets/ava-gama-banking-logo-branco.png">
    </a>
    <div id="nav-mobile" class="right hide-on-med-and-down">
      <i class="material-icons icon-pessoa">person</i>
    </div>
    <div id="nav-mobile" class="right hide-on-med-and-down">
      <h5 class="usuario">{{nomeUsuario}}</h5>
      <p class="agencia-conta">Ag: {{agencia}} C/C: {{conta}}</p>
    </div>
  </div>
</nav>
