<div class="row">
  <h2>filtrar lançamentos</h2>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input  id="val_ini" type="text" class="validate">
        <label for="val_ini">de</label>
      </div>
      <div class="input-field col s6">
        <input id="val_fim" type="text" class="validate">
        <label for="val_fim">até</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input  id="date_ini" type="text" class="validate">
        <label for="date_ini">de</label>
      </div>
      <div class="input-field col s6">
        <input id="date_fim" type="text" class="validate">
        <label for="date_fim">até</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="ag_dest" type="text" class="validate">
        <label for="ag_dest">Agência de destino</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="ac_dest" type="text" class="validate">
        <label for="ac_dest">Conta de destino</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate">
        <label for="name">Nome da pessoa</label>
      </div>
    </div>
    <div>
    <a class="waves-effect waves-light btn">limpar</a>
    <a class="waves-effect waves-light btn">filtrar</a>
  </div>
  </form>

</div>
