h3{
    text-align: center;
}

p{
    text-align: center;
}

.saldo{
    margin-top: 70px;
}

.texto-verde{
    
    color:green;
}

.texto-vermelho{
    color:red;
}
mat-grid-tile{
    font-size: 20px;
}